<div class="row justify-space-between-md app-land">
  <div class="">
    <h2 class="page-title">Create Your Character</h2>
    <form class="form character-form">
      <div class="form-group">
        <label for="character-name">Character Name:</label>
        <input class="form-input" type="text" id="character-name"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
  </div>
</div>

<script src="./js/character.js"></script>