<div class="row app-land">
    <div>
        <p>Nice work. You escaped. I guess your mom won't see that photo after all... yet. Maybe try to hide it better
            for next time you stumble upon one of my websites, I like a challenge.
            <br></br>
            Until we meet again... Ta-ta.
        </p>
    </div>
    <div>
         <a href="/"><button >Play Again?</button></a>
    </div>
</div>