<div class="row app-land2">
    <div class = "animate__animated animate__backInUp">
        <p >Welcome, {{character_name}}. You are in the {{location.location_name}}. What would you like to do next?</p>
        <br></br>
        Find the right item and it will let you leave.
    </div>
    <div>
        <div class = "animate__animated animate__backInUp game-el">
            <ul class="interaction-list" charID={{id}}>
                {{#each location.interactions as |interaction|}}
                {{> interaction}}
                {{/each}}
            </ul>
        </div>
            <div class = "animate__animated animate__backInUp game-el">
            <h4>Inventory:</h4>
            <ul>
                {{#each items as |item|}}
                {{> item}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>