<div class="row app-land">
    <div>
        <p>Welcome, {{character_name}}. You are in the {{location.location_name}}. What would you like to do next?</p>
    </div>
    <div>
        <ul class="interaction-list" charID={{id}}>
            {{#each location.interactions as |interaction|}}
            {{> interaction}}
            {{/each}}
        </ul>
    </div>
    <div>
        <h4>Inventory:</h4>
        <ul>
            {{#each items as |item|}}
            {{> item}}
            {{/each}}
        </ul>
    </div>
</div>