{{!-- {{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}} --}}

<div class="row app-land">
<h2>
        Hello
Welcome to my game
 
 
I hope you like it. But it doesn’t matter if you do. You’ll have to finish the game if you don’t want me to spread all your personal information across the internet.
 
 
What am I talking about?
Well, the moment you clicked onto this app, I sent a virus to your computer. It’s right now seeding my databases with all your information
(Cool social security number, by the way)

    </h2>

    </div>