<div class="row app-land">
        <h2 class="animate__animated animate__backInDown">
                Hello. Welcome to my game
                <br></br>
                I hope you like it. But it doesn’t matter if you do. You’ll have to finish the game if you don’t want me to spread all your personal information across the internet. The moment you clicked onto this app, I sent a virus to your computer. It’s right now seeding my databases with all your information.

                (Cool social security number, by the way)
                <br></br>
                If you can escape my app, I'll erase every scrap of data I have about you. If not, your mom gets to see that picture of you you have hidden deep in your folders (you know the one).
                <br></br>
                Alright, get playing. Good luck...
        </h2>

        <br><br>


        {{#if loggedIn}}
        <a href="/char/{{userID}}"><button>Use Previous Character</button></a>
        <a href="/create/{{userID}}"><button>New Character</button></a>
        {{/if}}
</div>

