<div class="row app-land">
        {{!-- <h2>
            Test content
        </h2> --}}
        <p>Welcome, {{character_name}}. You are in the {{location.location_name}}. What would you like to do next?</p>
       <ul>
        {{#each location.interactions as |interaction|}}
        {{> interaction}}
        {{/each}}  
       </ul>
       {{!-- <ul>
        {{#each inventory. as |inventory-item|}}
        {{> inventory-item}}
        {{/each}}  
       </ul> --}}
</div>